<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bitsindri.hncc.collegeapp">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".activities.ForgotPasswordActivity" />

        <activity android:name=".activities.CreatePostActivity"/>


        <activity android:name=".activities.FoodCategoryListActivity" />
        <activity android:name=".activities.ContactUsActivity" />
        <activity android:name=".activities.InterviewsActivity" />
        <activity android:name=".activities.StartupAndProjectIdeas" />
        <activity android:name=".activities.BuisnessActivity" />
        <activity android:name=".activities.PaymentActivity" />
        <activity android:name=".activities.FeeCollectionActivity" />
        <activity android:name=".activities.CommentActivityForMenuChange" />
        <activity android:name=".activities.ReportAtivity" />
        <activity android:name=".activities.MessActivity" />


<!--        <activity android:name=".activities.OrderStatusActivity" />-->

        <activity android:name=".activities.CartActivity" />
        <activity android:name=".activities.NavigationActivity" />
        <activity android:name=".activities.FoodDetailActivity" />
        <activity android:name=".activities.AddAchievementActivity" />
        <activity android:name=".activities.AchievementsActivity" />
        <activity android:name=".activities.AddIssueActivity" />
        <activity android:name=".activities.OngoingIssuesActivity" />
        <activity android:name=".activities.ContestsAndHackathonsActivity" />
        <activity android:name=".activities.WorkshopsAndWebinarsActivity" />
        <activity android:name=".activities.InternshipsAndJobsActivity" />
        <activity android:name=".activities.WebViewActivity" />
        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <activity android:name=".activities.MapActivity" />
        <activity android:name=".activities.commentActivity" />
        <activity android:name=".activities.FrontActivity" />
        <activity android:name=".activities.FoundThirdActivity" />
        <activity android:name=".activities.FoundSecondActivity" />
        <activity android:name=".activities.FoundFirstActivity" />
        <activity android:name=".activities.FoundDetailActivity" />
        <activity android:name=".activities.LostThirdActivity" />
        <activity android:name=".activities.LostSecondActivity" />
        <activity android:name=".activities.LostFirstActivity" />
        <activity android:name=".activities.LostDetailActivity" />
        <activity
            android:name=".activities.IntroductionActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activities.sellingItemActivity" />
        <activity android:name=".activities.IntroQuestion">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>